body {
	margin: 0;
	padding: 0;
	background-color: #000000;
}

* {
	color: white;
	text-decoration-line: none;
	text-decoration: none;
}


.top {
	background-color: #111;
	width: auto;
	border-bottom: 2px solid white;
}

.topblock {
	width: 1400px;
	margin: auto;
	height: 90px;
	display: block;


}

.tp {
	font-size: 40px;
	font-family: Verdana;
	text-decoration-line: none;
	margin-right: 115px;
	font-weight: 600;
	color: #2b3538;
}

.contentBar {
	width: 1400px;
	height: 2200px;
	margin: auto;
	margin-top: 20px;

}

.content {
	width: 65%;
	height: 2200px;
	float: left;
	background-color: #000;
	margin-left: 34px;
	border: 1px solid white;
}

.bar2 {
	width: 15%;
	height: 2200px;
	float: right;
	background-color: black;
	border: 1px solid white;
}

.bar1 {
	width: 15%;
	height: 2200px;
	float: left;
	background-color: black;
	border: 1px solid white;

}

.content h1 {

}

a {
	text-decoration: none;
}


.imga {
	width: 300px;
	height: 70px;
	position: relative;
	top: 10px;
}

.imga:hover {
	width: 310px;

}

.categories {
	list-style-type: none;
	color: white;
	padding-left: 0px;
	text-align: center;
	margin: auto;
	font-size: 20px;


}
/*
.categories:hover {
	width: 110%;
}
*/
#glava {
	text-align: center;
	font-weight: 600; /* Ширина текста.*/
	color: white;
}


.categoriesLI {
	margin: 3px;
}

.href {
	text-decoration: none;
	color: white;
}

.href:hover {
	color: black;
	background-color: white;
	padding:5px;

}


.menu {
    display: inline;
    margin-right: 50px;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 20px;
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px; 



}

.menu:hover {
	background-color: #fff;
}

.menu a:hover {
	color: #000;
}

.menu a {
	color: white;
}

.menu1 {
	display: inline-block;
	top: -55px;
	right: -700px;
	position: relative;

}

.test {
	width: 400px;
	height: 70px;
}

.bar1 p {
	text-align: center;
	font-weight: 900px;
	font-size: 20px;
	margin-top: 0px;
	margin: auto;

}

.game {
	width: 850px;
	height: 500px;
	margin: auto;
	border: 1px solid white;
}



.A1 img {
	position:absolute;
	top:50%;
	left:50%;
	height: 100%;
	width: auto;
	transform:translate(-50%,-50%);




}


.A1 {
	width: 200px;
	height: 300px;
	border: 1px solid white;
	position: relative;
	right: -649px;
	overflow: hidden;

}

#name-games {
	margin: 0px;
	padding: 0px;

	font-family: mail ray stuff;
	font-size: 20px;

	position: relative;
	top: 20px;
	left: 50px;
	max-width: 200px;
}



.ogm {
	width: 360px;
	height: 150px;
	position: relative;
	top: -270px;
	left: 10px;
	overflow: hidden;

}

.info {
	width: 270px;
	height: 150px;
	position: relative;
	top: -450px;
	left: 400px;
	overflow: hidden;
}

.info p {
	margin: 0;
	font-weight: bold;
}

#info_game {
	color: gray;
	font-size: 10px;
	width: 400px;
	height: 20px;
	position: relative;
	top: 30px;
	left: 20px;
}

#treb {
	position: relative;
	border: 1px solid white;
	top: -400px;
	left: 20px;
	width: 470px;
	height: 180px;
}

.blocklist {
	margin-top: 20px;
	width: 900px;
}

.stranica {
	width: 30px;
	position: relative;
	display: inline;
	padding: 3px;
	background-color: red;
	margin-left: 10px;
	margin-top: 20px;

}

.rand {
	font-weight: bold;
	margin: 5px;

}

.foottext {
	position: relative;
	bottom: -20px;
	font-weight: bold;
}

.texthed {
	position: relative;
	bottom: 20px;
	margin-left: 320px;

}

.imgfaq {
	margin-top: 50px;
}



